@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Prata&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet');

* 
{
  padding:0px;
  margin:0px;
}

body,html {
  box-sizing:border-box;
}

.maket
{
	position:absolute;
	opacity:0;
}